In [29]:
# import things
from flask_table import Table, Col, LinkCol, ButtonCol

# Declare your table
class ItemTable(Table):
    name = Col('trip')
    description = Col('mile')

# # Get some objects
# class Item(object):
#     def __init__(self, name, description):
#         self.name = name
#         self.description = description
# items = [Item('Name1', 'Description1'),
#          Item('Name2', 'Description2'),
#          Item('Name3', 'Description3')]
# Or, equivalently, some dicts
items = [dict(name='Name1', description='Description1'),
         dict(name='Name2', description='Description2'),
         dict(name='Name3', description='Description3')]

# Or, more likely, load items from your database with something like
#items = ItemModel.query.all()

# Populate the table
table = ItemTable(items)

# Print the html
print(table.__html__())
# or just {{ table }} from within a Jinja template

<table>
<thead><tr><th>trip</th><th>mile</th></tr></thead>
<tbody>
<tr><td>Name1</td><td>Description1</td></tr>
<tr><td>Name2</td><td>Description2</td></tr>
<tr><td>Name3</td><td>Description3</td></tr>
</tbody>
</table>

In [71]:
import pandas as pd
df = pd.DataFrame({'trip':[1,2,3],'mile':[3,4,5]})
df

   trip  mile
0     1     3
1     2     4
2     3     5

In [82]:
class ItemTable(Table):
    trip = Col('trip', column_html_attrs={'padding':'100px'})
    mile = Col('mile')
    #def __init__(self, d):
    #    trip = Col('trip')
    #    mile = Col('mile')
    #    Table.__init__(self, d)
        
    def save(self, filename):
        f = open(filename, "w")
        f.write(self.__html__())
        f.close()

d = df.to_dict(orient='record')
print(d)
table = ItemTable(d)

# Print the html
table.border = True
table.html_attrs = {'cellpadding': 10}
print(table.__html__())

[{'trip': 1, 'mile': 3}, {'trip': 2, 'mile': 4}, {'trip': 3, 'mile': 5}]
<table border="1" cellpadding="10">
<thead><tr><th padding="100px">trip</th><th>mile</th></tr></thead>
<tbody>
<tr><td padding="100px">1</td><td>3</td></tr>
<tr><td padding="100px">2</td><td>4</td></tr>
<tr><td padding="100px">3</td><td>5</td></tr>
</tbody>
</table>

In [84]:
table.save("templates/table.html")